@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: lab(98.26% 0 0);
  --foreground: lab(2.51107% 0.242703 -0.886115);
  --card: #fff;
  --card-foreground: lab(2.51107% 0.242703 -0.886115);
  --popover: #fff;
  --popover-foreground: lab(2.51107% 0.242703 -0.886115);
  --border: var(--foreground);
  --border-subtle: color-mix(in oklab, var(--border) 10%, transparent);
  --input: lab(90.6853% 0.399232 -1.45452);
  --ring: lab(32.4486% 49.2217 -84.6695);
  --primary: lab(63% 38.3129 -81.9673);
  --primary-to: lab(53% 38.3129 -81.9673);
  --primary-foreground: #fff;
  --secondary: color-mix(in oklab, lab(2.75381% 0 0) 10%, transparent);
  --secondary-foreground: lab(2.75381% 0 0);
  --muted: color-mix(in oklab, lab(2.75381% 0 0) 5%, transparent);
  --muted-foreground: lab(35.1166% 1.78212 -6.1173);
  --accent: lab(96.1634% 0.0993311 -0.364041);
  --accent-foreground: lab(15.7305% 0.613764 -2.16959);
  --destructive: lab(48.4493% 77.4328 61.5452);
  --chart-1: #8d9778;
  --chart-2: lab(48.496% 0 0);
  --chart-3: lab(34.924% 0 0);
  --chart-4: lab(27.036% 0 0);
  --chart-5: lab(15.204% 0 -0.00000596046);
  --sidebar: lab(98.26% 0 0);
  --sidebar-foreground: lab(2.75381% 0 0);
  --sidebar-primary: lab(7.78201% -0.0000149012 0);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(96.52% -0.0000298023 0.0000119209);
  --sidebar-accent-foreground: lab(7.78201% -0.0000149012 0);
  --sidebar-border: lab(90.952% 0 -0.0000119209);
  --sidebar-ring: lab(66.128% -0.0000298023 0.0000119209);
  --radius: 0.625rem;

  --shadow-dark: var(--border);
  --shadow-light: var(--card);
}

.dark {
  --background: lab(7.51107% 0.242703 -0.886115);
  --foreground: #fff;
  --card: color-mix(in oklab, lab(15.7305% 0.613764 -2.16959) 40%, #161618);
  --card-foreground: #fff;
  --popover: lab(2.51107% 0.242703 -0.886115);
  --popover-foreground: #fff;
  --border-subtle: color-mix(in oklab, var(--border) 7.5%, transparent);
  --input: lab(25.7305% 0.613764 -2.16959);
  --ring: lab(59.866% 22.4834 -64.4485);
  --primary: lab(53% 38.3129 -81.9673);
  --primary-to: lab(43% 38.3129 -81.9673);
  --primary-foreground: #fff;
  --secondary: lab(15.7305% 0.613764 -2.16959);
  --secondary-foreground: #fff;
  --muted: lab(15.7305% 0.613764 -2.16959);
  --muted-foreground: lab(65.6464% 1.53497 -5.42429);
  --accent: lab(15.7305% 0.613764 -2.16959);
  --accent-foreground: #fff;
  --destructive: lab(70.4273% 87.2623 53.7441);
  --destructive-foreground: #fff;
  --chart-1: #8d9778;
  --chart-2: lab(70.5521% -66.5147 45.8073);
  --chart-3: lab(76.3898% 14.5258 98.4589);
  --chart-4: lab(52.0183% 66.11 -78.2316);
  --chart-5: lab(56.9303% 76.8162 -8.07021);
  --sidebar: lab(7.78201% -0.0000149012 0);
  --sidebar-foreground: lab(98.26% 0 0);
  --sidebar-primary: lab(36.9089% 35.0961 -85.6872);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(15.204% 0 -0.00000596046);
  --sidebar-accent-foreground: lab(98.26% 0 0);
  --sidebar-border: lab(100% 0 0/0.1);
  --sidebar-ring: lab(48.496% 0 0);
  --shadow-dark: lab(0% 0 0);
  --shadow-light: var(--border);
}

@theme inline {
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-to: var(--primary-to);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border-subtle);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --shadow-2xs:
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 7.45%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset,
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 7.06%, transparent);
  --shadow-xs:
    0px 1px 1px -0.5px color-mix(in oklab, var(--shadow-dark) 18.82%, transparent),
    0px 2px 2px -1px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent),
    0px 4px 4px -2px color-mix(in oklab, var(--shadow-dark) 1.96%, transparent),
    0px 8px 4px -3px color-mix(in oklab, var(--shadow-dark) 1.18%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 7.06%, transparent),
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset;
  --shadow-sm:
    0px 1px 2px -0.5px color-mix(in oklab, var(--shadow-dark) 18.82%, transparent),
    0px 3px 3px -1px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent),
    0px 6px 5px -2px color-mix(in oklab, var(--shadow-dark) 1.96%, transparent),
    0px 15px 6px -3px color-mix(in oklab, var(--shadow-dark) 1.18%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 7.06%, transparent),
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset;
  --shadow-md:
    0px 1px 3px 0px color-mix(in oklab, var(--shadow-dark) 5.1%, transparent),
    0px 5px 5px -1px color-mix(in oklab, var(--shadow-dark) 5.1%, transparent),
    0px 11px 6px -2px color-mix(in oklab, var(--shadow-dark) 3.14%, transparent),
    0px 19px 8px -3px color-mix(in oklab, var(--shadow-dark) 1.18%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset,
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 7.06%, transparent),
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent);
  --shadow-lg:
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset,
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 10.2%, transparent),
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 10.2%, transparent),
    0px 2px 5px -1px color-mix(in oklab, var(--shadow-dark) 5.88%, transparent),
    0px 8px 12px -1px color-mix(in oklab, var(--shadow-dark) 5.1%, transparent),
    0px 22px 16px -2px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent),
    0px 32px 18px -2px color-mix(in oklab, var(--shadow-dark) 1.18%, transparent);
  --shadow-xl:
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset,
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 10.2%, transparent),
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 10.2%, transparent),
    0px 4px 8px -1px color-mix(in oklab, var(--shadow-dark) 5.88%, transparent),
    0px 15px 15px -1px color-mix(in oklab, var(--shadow-dark) 5.1%, transparent),
    0px 33px 20px -2px color-mix(in oklab, var(--shadow-dark) 3.92%, transparent),
    0px 58px 23px -2px color-mix(in oklab, var(--shadow-dark) 1.18%, transparent);
  --shadow-2xl:
    0px 13px 29px 0px color-mix(in oklab, var(--shadow-dark) 7.06%, transparent),
    0px 53px 53px 0px color-mix(in oklab, var(--shadow-dark) 5.88%, transparent),
    0px 119px 71px 0px color-mix(in oklab, var(--shadow-dark) 3.14%, transparent),
    0px 211px 85px 0px color-mix(in oklab, var(--shadow-dark) 1.18%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-dark) 10.2%, transparent),
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-dark) 10.2%, transparent),
    0px 0px 0px 1px color-mix(in oklab, var(--shadow-light) 5.1%, transparent) inset,
    0px 1px 0px 0px color-mix(in oklab, var(--shadow-light) 8.16%, transparent) inset;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    font-feature-settings:
      "liga" 1,
      "calt" 1;
    font-feature-settings: "cv11";
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: 0ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
    transition-duration: 0.01ms !important;
  }
}
